*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: black;
}

.area {
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    justify-content: space-around;
    align-items: center;
}