.productStyle{
display: flex;
flex-wrap: wrap;
}


.product1{
    background-color: grey;
    border: 1px solid white;
    width: 150px;
    margin-right: 20px;
    height: 300px;
    color: white;
    box-sizing: border-box;
    object-fit: cover;
}

span{
    color: orangered;
}

